@model List<Bookish.DataAccess.BookCopy>
<h1>@ViewData["Title"]</h1>


<div>
    <h1 class="gpTitle">Thanks</h1>
        <table class="searchTable table-hover table-bordered">
            <thead class="libraryTable">
                <tr>
                    <th>Copy ID</th>
                    <th>Available?</th>
                    <th>Borrower Email</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CopyID</td>
                        <td>@item.Available</td>
                        <td>@item.BorrowerEmail</td>
                        <td>@item.DueDate</td>
                    </tr>
                }
            </tbody>
        </tableclass="searchResults">
</div>