@model List<Bookish.DataAccess.Book>
@{
    ViewData["Title"] = "Library!";
    if (ViewBag.SuccessMessage == "success")
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> The new book has been successfully added.
        </div>
    }
}
<div class="homeBackground">
    <h1 class="libraryTitle">@ViewData["Title"]</h1>




    <div class="searchResults">
        <table class="searchTable table-hover table-bordered">
            <thead class="libraryTable">
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Number of Copies</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.NumberOfCopies</td>
                        <td id="ViewDetails"><a href="@Url.Action("ViewBook", "Home", new {bookID=@item.BookID})">View Details</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>