@model List<Bookish.DataAccess.Book>
@{
    ViewData["Title"] = "Library!";
    if (ViewBag.SuccessMessage == "success")
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> The new book has been successfully added.
        </div>
    }
}
<h1>@ViewData["Title"]</h1>


<div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Number of Copies</th>
            </tr>
        </thead>
        <tbody>
            @using (Html.BeginForm("Library", "Home", FormMethod.Get))
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Genre</td>
                        <td>@item.NumberOfCopies</td>
                        <td><a href="@Url.Action("ViewBook", "Home", new {bookID=@item.BookID})">View Details</a> </td>
                        @*<td><input type="submit" value="View Details"></td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>