@model NewSearch
@{
    ViewData["Title"] = "Search";
}

<div class="text-center searchGeneral">
    <h1 class="display-4 searchTitle">Search the Library</h1>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
    <div class="form-group testing">
        @Html.DropDownListFor(m => m.Column, new SelectList(Enum.GetValues(typeof(Columns))),
    "Search Criteria: ", new { @class = "dropDown" })

        @Html.TextBoxFor(m => m.Value, new { @class = "text-box" })
        <input class="submit" type="submit" value="Search" />
    </div>
    }
    @{ if (Model != null)
        {
            <div class="searchResults">
                <table class="searchTable">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Number of Copies</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.BookList)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Genre</td>
                                    <td>@item.NumberOfCopies</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }


    }
</div>
