@model Bookish.DataAccess.Book
<h1>@ViewData["Title"]</h1>


<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Number of Copies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.BookID</td>
                <td>@Model.Title</td>
                <td>@Model.Genre</td>
                <td>@Model.NumberOfCopies</td>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm("CheckOutBook", "Home", FormMethod.Post))
    {
        <input type="hidden" name="bookID" value="@Model.BookID" />
        <input type="submit" value="Borrow">
    }    
</div>