@model Bookish.DataAccess.Book
<h1>@ViewData["Title"]</h1>


<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Number of Copies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.BookID</td>
                <td>@Model.Title</td>
                <td>@Model.Genre</td>
                <td>@Model.NumberOfCopies</td>

            </tr>
        </tbody>
    </table>
    <a href="@Url.Action("CheckOut", "Home", new {bookID=@Model.BookID})">Borrow</a>
</div>